.details {
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details__img {
  width: 100%;
}

.details__content {
  padding: 20px;
  background-color: #faf9f7;
}

.cart-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: start;
}

.cart__item {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.cart__img {
  width: 100%;
}

.cart__content {
  padding: 20px;
}
