@import '../../sass/variables.scss';
@import '../../sass/base.scss';

.product-details {
  max-width: 90%;
  border-radius: 1.6rem;
  overflow: hidden;
  box-shadow: $shadow-double-2of5;
  margin: 3.2rem auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  &__name {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__price {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 1.2rem 0;
  }

  &__description {
    margin-top: 1.6rem;
  }

  &__description-header {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
  }

  &__description-text {
    color: $blue-grey-dark-2of5;
  }

  &__quantity {
  }

  &__stock-status {
    margin-bottom: 0.4rem;
    color: $blue-grey-light-5of5;

    &--available {
      color: $cyan-dark-2of5;
    }

    &--unavailable {
      color: $red-light-5of5;
    }
  }

  &__img {
    width: 100%;
  }

  &__content {
    padding: 2.4rem 3.2rem;
  }

  &__actions {
    display: grid;
    justify-items: start;
    grid-auto-flow: column;
  }

  &__admin {
    // display: inline-block;
    // margin-left: 4.8rem;
    justify-self: end;
  }

  &__btn {
    &--primary {
      background-color: $blue-dark-1of5;
      color: white;
      box-shadow: $shadow-single-2of5;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

      &:hover {
        color: $blue-dark-1of5;
        background-color: $blue-light-1of5;
      }

      &:active {
        box-shadow: $shadow-single-1of5;
      }
    }

    &--secondary {
      color: $blue-dark-1of5;
      background-color: white;
      border: 2px solid $blue-light-2of5;
      box-shadow: $shadow-single-1of5;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

      &:hover {
        background-color: $blue-light-2of5;
        color: white;
      }

      &:active {
        box-shadow: none;
      }
    }

    &--tertiary {
      color: $blue-dark-1of5;
      background: none;
      margin-left: .8rem;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

      &:hover {
        background-color: $blue-grey-light-1of5;
      }
    }
  }
}
