@import '../../sass/variables.scss';
@import '../../sass/base.scss';

.product-details {
  width: 90%;
  border-radius: 1.6rem;
  overflow: hidden;
  box-shadow: $shadow-double-2of5;
  margin: 3.2rem auto;
  background-color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;

  &__name {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__price {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 1.2rem 0;
  }

  &__description {
    margin-top: 2.4rem;
  }

  &__description-header {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
  }

  &__description-text {
    color: $blue-grey-dark-2of5;
  }

  &__quantity {
    i {
      color: $blue-grey-dark-5of5;
      font-size: 1.1rem;
      cursor: pointer;
      transition: transform 0.1s;

      &:active {
        transform: translateY(0.75px);
      }
    }

    input[type='number'] {
      -moz-appearance: textfield;
      width: 3.2rem;
      height: 2.4rem;
      margin: 0 0.4rem;
      outline: none;
      border: 2px solid $blue-grey-light-2of5;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  &__stock-status {
    margin-bottom: 0.8rem;
    color: $blue-grey-dark-1of5;

    &--available {
      color: $cyan-dark-2of5;
    }

    &--unavailable {
      color: $red-light-5of5;
    }

    span {
      font-weight: 700;
      margin-left: 0.4rem;
    }
  }

  &__img {
    width: 100%;
  }

  &__content {
    padding: 2.4rem 3.2rem;
  }

  &__actions {
    display: grid;
    justify-items: start;
    grid-auto-flow: column;
  }

  &__admin {
    // display: inline-block;
    // margin-left: 4.8rem;
    justify-self: end;
  }
}
