@import '../sass/variables.scss';
@import '../sass/base.scss';
@import '../sass/components.scss';

.header {
  background-color: white;
  height: 6rem;
  margin-bottom: 1.6rem;
  box-shadow: $shadow-single-1of5;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: end;

  &__left-div {
    justify-self: start;
  }

  &__home {
    justify-self: center;
    margin: 0 6rem;
    font-size: 1.6rem;

    // @media (max-width: 555px) {
    //   margin-left: 0;
    // }
  }

  &__right-div {
    justify-self: end;
    margin-right: 4.8rem;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }

  &__create {
    margin-right: 0.8rem;
    width: 13rem;

    i {
      font-size: 1.2rem;
    }

    // @media (max-width: 555px) {
    //   width: 6rem;
    // }
  }

  &__cart {
    justify-self: start;
    margin-right: 1.6rem;

    i {
      font-size: 1.6rem;
    }
  }
}
