@import '../sass/variables.scss';
@import '../sass/base.scss';
@import '../sass/components.scss';

.header {
  background-color: white;
  height: 6rem;
  margin-bottom: 1.6rem;
  box-shadow: $shadow-single-1of5;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: end;

  @media (max-width: 665px) {
    padding: 0.4rem 0;
    height: 9rem;

    grid-template-columns: min-content auto;
    grid-template-rows: 1fr 3fr;
  }

  @media (max-width: 455px) {
    height: 10rem;
  }

  &__home {
    justify-self: center;
    margin-left: -4.8rem;
    font-size: 1.6rem;

    @media (max-width: 1000px) {
      margin: 0;
    }

    @media (max-width: 455px) {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  &__right-div {
    justify-self: end;
    margin-right: 4.8rem;

    display: grid;
    grid-auto-flow: column;
    align-items: center;

    @media (max-width: 830px) {
      margin: 0;
    }

    @media (max-width: 665px) {
      grid-column: 2 / span 3;
    }
  }

  &__create {
    margin-right: 0.8rem;
    width: 13rem;

    display: grid;
    grid-auto-flow: column;

    i {
      font-size: 1.2rem;
    }

    @media (max-width: 455px) {
      width: 6rem;
      margin: 0;

      i {
        display: none;
      }
    }
  }

  &__cart {
    justify-self: start;
    margin-right: 1.6rem;

    i {
      font-size: 1.6rem;
    }

    @media (max-width: 455px) {
      margin-right: 0;
    }
  }
}
