@import '../sass/variables.scss';

.modal-dimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25.6rem;
  width: 38.4rem;
  border-radius: 1rem;
  background: white;
  overflow: hidden;

  display: grid;

  @media (max-width: 400px) {
    width: 30rem;
    height: 23rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__content {
    font-size: 1.2rem;
    color: $blue-grey-dark-2of5;
  }

  &__div {
    padding: 2.4rem 3.2rem;
  }

  &__actions {
    background-color: $blue-grey-light-1of5;
    padding-right: 2.4rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__cancel {
    color: $blue-grey-dark-2of5 !important;
    margin-right: 1.6rem;
  }
}
