@import '../sass/variables.scss';
@import '../sass/base.scss';

.cart-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: start;
  grid-column-gap: 1.6rem;
}

.shopping-cart {
  justify-self: stretch;
}

.success {
  border: 1.75px solid $cyan-dark-1of5;
  width: 50%;
  margin: auto;
  border-radius: 0.8rem;
  padding: 1.6rem;
  color: $cyan-dark-3of5;
  background-color: white;

  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  grid-template-columns: 1fr 10fr;

  i {
    font-size: 2.4rem;
  }

  &__content {
    div {
      font-weight: 700;
    }

    p {
      margin-top: 0.4rem;
      font-size: 1.2rem;
    }
  }
}

.cart-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;

  height: 9.6rem;
  margin-bottom: 1.6rem;
  box-shadow: $shadow-single-1of5;
  background-color: white;
  // transition: box-shadow 0.5s;

  // &:hover {
  //   box-shadow: $shadow-single-2of5;
  // }

  &__img {
    justify-self: start;
    height: 100%;
    padding: 1.2rem;
    cursor: pointer;
  }

  &__name {
    justify-self: start;
    color: $blue-grey-dark-5of5;
  }

  &__stock {
    justify-self: end;
    color: $blue-grey-light-5of5;

    span {
      font-weight: 700;
    }
  }

  &__price {
    justify-self: end;
    font-weight: 700;
  }

  i {
    font-size: 2rem;
    color: $blue-grey-light-3of5;
    cursor: pointer;
    transition: all 0.1s;

    &:active {
      transform: translateY(0.75px);
    }
  }

  &__quantity {
    i {
      color: $blue-grey-dark-5of5;
      font-size: 1.1rem;
      cursor: pointer;
      transition: transform 0.1s;

      &:active {
        transform: translateY(0.75px);
      }
    }

    input[type='number'] {
      -moz-appearance: textfield;
      width: 3.2rem;
      height: 2.4rem;
      margin: 0 0.4rem;
      outline: none;
      border: 2px solid $blue-grey-light-2of5;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
